<div class="jumbotron">
	<ul class="list-group">
		<li class="list-group-item clearfix">
			Question Attempted: <%= questionAttempted %>
		</li>

		<li class="list-group-item clearfix">
			Score: <%= score %> %
		</li>

	</ul>

	<a class="btn btn-sm btn-primary" href="/sendMail %>">Send My Score</a>

</div>
